@charset "utf-8";


body{
    /*background: #e4e4e4;
    text-align: center;*/
}

h1,h2,h3,h4,h5,h6,p,a,li,p,div,button,span{
	font-family: "Microsoft JhengHei";
}

.d-none{
    display: none !important;
}

.online-toss{
    background: #F4ECBB;
    margin: 64px auto;
    padding: 32px 32px;
    border-style: double;
    border-width: 7px;
    border-color: #6E0E0B;
    max-width: 55%;
    max-height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


/* 籤筒圖片 */
.toss-photo{
    display: flex;
    max-width: 40%;
    height: auto;
    background: pink;
}

@media(min-width: 991px){
    .description{
        flex: 0 0 60%;
        max-width: 60%;
        
    }
}

.description{
    display: flex;
    align-items: center;
    background: yellow;
    

}

.description p{
    font-size: 1.2em;
    color: #9C5017;
    font-weight: bold;
    
}

#start{
    
    padding: 10px 20px;
    border: none;
    background: #944309;
    color: #FFF;
    font-weight: bold;
    font-size: 1.1em;
    border-radius: 6px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;  /* Safari */
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    
}

#start:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


#lots{
    cursor: pointer;
}

/* 籤筒按鈕 */
#lots_button{
    background: none;
    border: none;
}


/* 進行擲筊按鈕 */
#toss{
    display: block;
    margin: 64px auto;
    border: none;
    background: #FFF;
    padding: 15px 200px;
    font-size: 1.2em;
    font-weight: bold;
}

/* 擲筊結果框 */
#toss_title{
    background: #FFF;
    padding: 15px 80px;
    display: inline-block;
    margin-bottom: 32px;
    font-weight: bold;
    text-align: center;
    font-size: 1.2em;
}

#toss-consult,#toss-description{
    display: block;
    
}

#toss-consult{
    margin-bottom: 20px;
}

/* 觀看籤詩說明按鈕 */
#view{
    text-decoration: none;
    display: inline-block;
    background: #FFF;
    padding: 10px 100px;
    color: #000000;
    margin-top: 64px;
}

#view:hover{
    color: #FFF;
    background: #bb6565;
}