@charset "utf-8";
h1,h2,h3,h4,h5,h6,p,a,li,p,div,button,span{
	font-family: "Microsoft JhengHei";
}

.d-none{
    display: none !important;
}

.online-toss{
    background: #F4ECBB;
    margin: 64px auto;
    max-width: 75%;
    padding: 32px 32px;
    border-style: double;
    border-width: 7px;
    border-color: #6E0E0B;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* 籤筒圖片 */
.toss-photo{
    max-width: 60%;
    height: auto;
    flex: 0 0 100%;
}

@media(min-width: 991px){
    .online-toss{
        max-width: 55%;
    }

    .toss-photo{
        max-width: 45%;
        flex: 0 0 45%;
    }
    
    .description{
        flex: 0 0 65%;
        max-width: 45%;
    }
}

.description p{
    font-size: 1.2em;
    color: #9C5017;
    font-weight: bold;
}

#lots_button{
    margin: 0 auto;
    display: block;
    padding: 10px 20px;
    border: none;
    background: #944309;
    color: #FFF;
    font-weight: bold;
    font-size: 1.1em;
    border-radius: 6px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;  /* Safari */
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#lots_button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#step_2 p{
    color: #B24234;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
}

/* 進行擲筊按鈕 */
#toss,#back{
    margin: 0 auto;
    display: block;
    padding: 10px 20px;
    border: none;
    background: #944309;
    color: #FFF;
    font-weight: bold;
    font-size: 1.1em;
    border-radius: 6px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;  /* Safari */
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#toss:hover,#back:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#toss-images{
    text-align: center;
}

#toss_title{
    width: 60%;
    text-align: center;
}

#toss-consult,#toss-description{
    color: #6E0E0B;
    font-weight: bold;
    font-size: 1.5em;
    display: block;
    margin-bottom: 32px;
}

#view{
    text-decoration: none;
}